<ion-header>
  <ion-toolbar>
    <ion-title>Corporate App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button routerLink="/productos">
      <ion-label>Productos</ion-label>
    </ion-segment-button>
    <ion-segment-button routerLink="/nosotros">
      <ion-label>Nosotros</ion-label>
    </ion-segment-button>
    <ion-segment-button routerLink="/contacto">
      <ion-label>Contacto</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>